
[submodule "deep_sort"]
	path = deep_sort
	url = git@github.com:cheneeheng/deep_sort.git
[submodule "realsense-simple-wrapper"]
	path = realsense-simple-wrapper
	url = git@github.com:cheneeheng/realsense-simple-wrapper.git
[submodule "ByteTrack"]
	path = ByteTrack
	url = git@github.com:cheneeheng/ByteTrack.git
[submodule "OC_SORT"]
	path = OC_SORT
	url = git@github.com:cheneeheng/OC_SORT.git
