
[submodule "realsense-simple-wrapper"]
	path = submodules/realsense-simple-wrapper
	url = git@github.com:cheneeheng/realsense-simple-wrapper.git
[submodule "ByteTrack"]
	path = submodules/ByteTrack
	url = git@github.com:cheneeheng/ByteTrack.git
[submodule "OC_SORT"]
	path = submodules/OC_SORT
	url = git@github.com:cheneeheng/OC_SORT.git
[submodule "submodules/StrongSORT"]
	path = submodules/StrongSORT
	url = git@github.com:cheneeheng/StrongSORT.git
