# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file

pylint
pep8
autopep8
pycodestyle

numpy
pillow
matplotlib
imageio
IPython

opencv-python

# tensorflow==2.5.0
# tensorflow-hub

tqdm
